<%= form_for @proposal, :html => { :class => 'form-horizontal' , :style => 'text-align: center'} do |f| %>
  <div >
    <%= f.text_field :title, :class => 'text_field' , :placeholder => 'Title' %>
  </div>

  <div >
    <%= f.text_area :description, :class => 'text_area', :placeholder => 'Description', :cols => '500', rows: '10' %>
  </div>

  <div class="form-actions" style="padding-left: 0px;">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                proposals_path, :class => 'btn' %>
                
  </div>
<% end %>
